.delete > rect{
    fill: rgb(250, 170, 170) !important;
    stroke:black !important;
    stroke-width: 4px !important;
}

.delete .divider{
    stroke: black !important;
}

.deleteProperty > rect{
    stroke:black !important;
    stroke-width: 4px !important;
}

.deleteProperty .divider{
    stroke: black !important;
}

.deleteProperty .classTitle .nodeLabel{
    color: black !important;
}

.deleteProperty .nodeLabel{
    color: red !important;
}

.deleteTitle > rect{
    fill: rgb(250, 170, 170) !important;
    stroke:black !important;
    stroke-width: 4px !important;
}

.deleteTitle .divider{
    stroke: black !important;
}

.deleteTitle .classTitle .nodeLabel{
    color: red !important;
}

.create > rect{
    fill:rgb(132, 132, 252) !important;
    stroke: rgb(1, 1, 116) !important;
    stroke-width: 4px !important;
}

.create .divider{
    stroke: black !important;
}

.createProperty > rect{
    stroke:black !important;
    stroke-width: 4px !important;
}

.createProperty .divider{
    stroke: black !important;
}

.createProperty .classTitle .nodeLabel{
    color: black !important;
}

.createProperty .nodeLabel{
    color: blue !important;
}

.modification > rect{
    fill: rgb(255, 255, 137) !important;
    stroke:black !important;
    stroke-width: 4px !important;
}

.modification .divider{
    stroke: black !important;
}

.modificationProperty > rect{
    stroke:black !important;
    stroke-width: 4px !important;
}

.modificationProperty .divider{
    stroke: black !important;
}

.modificationProperty .classTitle .nodeLabel{
    color: black !important;
}

.modificationProperty .nodeLabel{
    color: yellowgreen !important;
}

.modificationTitle .classTitle .nodeLabel{
    color: yellowgreen !important;
}

#rectDel{
    height: 15px;
    width: 30px;
    background-color: red;
    border-style: solid;
    border-color: black;
}

#rectCre{
    height: 15px;
    width: 30px;
    background-color: blue;
    border-style: solid;
    border-color: black;
}

#rectUpd{
    height: 15px;
    width: 30px;
    background-color: yellow;
    border-style: solid;
    border-color: black;
}

#leyenda{
    border-style: solid;
    border-color: rgb(163, 162, 162);
}

#diagramContainer{
    border-style: double;
    border-color: black;
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 400px;
    min-height: 400px;
}

#diagram2Container{
    border-style: double;
    border-color: black;
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 400px;
    min-height: 400px;
}

#myDiagram{
    min-width: 50%;
    max-width: 200%;
    width: 80%;
}

#diagram2{
    min-width: 50%;
    max-width: 200%;
    width: 80%;
}

#change2{
    background-color: greenyellow;
    border-color: greenyellow;
}

#change1{
    background-color: rgb(211, 211, 211);
    border-color: rgb(211, 211, 211);
}

#zoomIn1{
    background-color: rgb(211, 211, 211);
    border-color: rgb(211, 211, 211);
}

#zoomOut1{
    background-color: rgb(211, 211, 211);
    border-color: rgb(211, 211, 211);
}

#zoomIn2{
    background-color: rgb(211, 211, 211);
    border-color: rgb(211, 211, 211);
}

#zoomOut2{
    background-color: rgb(211, 211, 211);
    border-color: rgb(211, 211, 211);
}

body{
    zoom: 90%;
}